.footer-basic {
    padding: 40px 0;
    background-color: var(--mainColor);
    color: var(--logo-background);
}

.footer-basic ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: var(--footerLinkFontSize);
    line-height: 1.6;
    margin-bottom: 0;

}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: var(--opacityForText);
}

.footer-basic ul a:hover {
    opacity: 1;
    color: var(--secondaryColor);
}

.footer-basic .social {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.social-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-basic .social>a {
    font-size: var(--socialFontSize);
    width: var(--socialIconSize);
    height: var(--socialIconSize);
    line-height: var(--socialIconSize);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: var(--logo-background);
    opacity: var(--opacityForText);
}

.footer-basic .social>a:hover {
    opacity: 1;
    background-color: var(--mainColorSecondary);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}