.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

main[class="input"] {
    width: 35%;
    margin-top: 25px;
}

.home h1 {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-body img {
    width: 50px;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.feed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}