.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
}

.home {
    width: 75%;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
