@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor);
}

header a{
    height: inherit;
}

header a img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    padding: var(--paddingGeneral);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    display: none;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header div,
nav {
    display: flex;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        display: flex;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        transition: 1s;
    }

    header .responsive_nav {
        transform: translateY(100vh);
        transition-duration: 0.5s;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}